.faq {
  grid-area: faq;

  & div.flex {
    align-items: start;

    & h3 {
      font: var(--p-md);
      color: var(--content-brand);
      margin-bottom: 0.4rem;
    }
    & p {
      font: var(--p-sm);
    }
  }
}