.faq {
  grid-area: faq;
  padding-block: 5rem;

  & div.flex {
    align-items: start;

    & h3 {
      font: var(--p-md);
      color: var(--content-brand);
      margin-bottom: 0.4rem;
    }
    & p {
      font: var(--p-sm);
    }
  }
}

@media (width >= 80rem) {
  .faq {
    padding-block: 0rem;
  }
}