@import url(variable.css);
@import url(utility_class.css);
@import url(header.css);
@import url(highlight.css);
@import url(drawAnumber.css);
@import url(faq.css);
@import url(result.css);

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary);
  color: var(--content-secondary);
}

body::before {
  content: '';
  background-image: url(../images/line.png);
  background-size: 70%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 36%;
  opacity: 0.1;
}

.container {
  --max-width: 23.45rem;
  width: min(var(--max-width), 100% - 1.5rem * 2);
  margin-inline: auto;
  padding-top: 2rem;
}

ul[role="list"] {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  font: var(--label-md);
  color: var(--content-primary);
}

main {
  grid-template-areas: 
  "highlight"
  "drawAnumber"
  "faq";
}

h1, h2, label:not(.noRepeatLabel), button, .overline, figcaption {
  text-transform: uppercase;
}

h1 {
  font: var(--display-md);
  color: var(--content-primary);
}

h2 {
  font: var(--label-md);
  margin-bottom: 0.2rem;
}

p {
  font: var(--p-md);
}
 
@media (width >= 80rem) {
  body {
    height: 100vh;
    justify-content: center;
  } 

  .container {
    --max-width: 80rem;
  }

  main {
    grid-template-areas: 
    "highlight drawAnumber"
    "faq drawAnumber";
    grid-row-gap: 2.37rem;
    grid-column-gap: 6.75em;
  }

  h1 {
    font: var(--display-lg);
  }

  p {
    font: var(--p-lg);
  }
}